html, body {
    margin: 0;
}
body {
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 1200px;
    display: flex;
    margin: 0 auto;
    background-color: lightblue;
}
.main {
    display: flex;
    flex-flow: column;
    width: 85%;
}
.menu {
    width: 15%;
    background-color: rgba(86, 179, 209, 0.751);
    padding: 10px 20px 0px;
}
.header {
    background-color: rgb(26, 146, 186);
    min-height: 150px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
}
.content {
    background-color: lightblue;
    min-height: 300px;
    padding: 20px;
    text-align: justify;
    font-size: 120%;
}
.footer {
    background-color: rgb(131, 153, 219);
    min-height: 150px;
}
.logo {
    width: 80px;
    align: left
}
.logo {
    width: 133px;
    align-self: left
}

table {
    border: solid 1px grey;
}
table thead th {
    background-color: black;
    color: white;

}
table tbody tr:nth-child(even) td {
    background-color: lightgray;
}
table tbody tr:hover td {
    background-color: lightseagreen;
}
table tfoot td {
    background-color: lightslategrey;
}